@tailwind base;
@tailwind components;
@tailwind utilities;

.form-input {
  @apply bg-gray-50 border border-gray-400 text-gray-900 text-sm rounded-lg focus:ring-primary focus:border-primary block w-full p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary dark:focus:border-primary;
}
.btn-primary {
  @apply text-white inline-block bg-primary hover:bg-primary/80 focus:ring-4 focus:ring-blue-300 font-bold rounded-lg text-sm px-5 py-2 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800;
}
